<% if @ticket.errors.any? %>
	<div id="error_messages">
		<h2>Fel vid skapandet av en ticket.</h2>
		<ul>
			<% @ticket.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>