<ul>
	<li><a href='/'>Home</a></li>
	<li><a href='<%= signin_path %>'>Logga in</a></li>
	<li><a href='<%= signup_path %>'>Registrering</a></li>
	<li><a href='<%= users_path %>'>Medlemmar</a></li>
</ul>
